# Prevent usage of phantom dependencies in nucleus projects.
# https://pnpm.io/npmrc#public-hoist-pattern
public-hoist-pattern=[]

# Make sure all packages satisfy engines restrictions.
# https://pnpm.io/npmrc#engine-strict
engine-strict=true

# Minimize changes and churn in the lock file
# https://pnpm.io/npmrc#prefer-frozen-lockfile
prefer-frozen-lockfile=true

# Fail on missing or invalid peer dependencies
# https://pnpm.io/npmrc#strict-peer-dependencies
strict-peer-dependencies=true

# Make sure we use "~" as version specifier dependencies by default.
# https://pnpm.io/npmrc#save-prefix
save-prefix=~

# Prevent creation of command shim scripts to always use commands from packages.
# https://pnpm.io/npmrc#prefer-symlinked-executables
prefer-symlinked-executables=true

# Let's be strict and enforce peer dependencies to be always set properly.
# https://pnpm.io/npmrc#dedupe-peer-dependents
dedupe-peer-dependents=false

# Make sure resolution-mode stays the same after update to PNPM 8
# https://pnpm.io/npmrc#resolution-mode
resolution-mode=highest

# Make sure peer dependencies are not installed automatically
# https://pnpm.io/npmrc#auto-install-peers
# this setting affects pnpm-lock files in common/autoinstallers
# for Rush.js projects pnpm-config.json autoInstallPeers parameter takes precedence
auto-install-peers=false

# Do not link dependencies in workspace root as peer dependencies
# https://pnpm.io/npmrc#resolve-peers-from-workspace-root
resolve-peers-from-workspace-root=false

# Dedupe injected dependencies
# https://pnpm.io/npmrc#dedupe-injected-deps
dedupe-injected-deps=true

# Do not hoist workspace packages
# https://pnpm.io/npmrc#hoist-workspace-packages
hoist-workspace-packages=false

# Make sure PNPM matches the version specified in package.json
# https://pnpm.io/npmrc#package-manager-strict-version
package-manager-strict-version=true

# Make sure PNPM matches the version specified in package.json
# https://pnpm.io/npmrc#manage-package-manager-versions
manage-package-manager-versions=true
